<h1 style="color: rgb(0, 136, 204);font-family: times;font-size: 40px;"><center>Feature Engineering</center></h1>

### -------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Datasets/data_analyzed.csv")
df.head()

,fiyat,il,ilce,emlak_tipi,m2_brut,m2_net,oda,bina_yasi,bulundugu_kat,kat_sayisi,isitma,banyo,balkon,esyali,kullanim_durumu,site_icerisinde,krediye_uygun,kimden,takas
0,319000,istanbul,beylikdüzü,daire,120,112,2+1,3,15,18,merkezi,2,yok,hayır,boş,evet,evet,emlak ofisinden,hayır
1,163000,istanbul,esenyurt,daire,115,100,2+1,7,1,4,doğalgaz,1,var,hayır,boş,hayır,evet,emlak ofisinden,evet
2,273000,istanbul,başakşehir,daire,80,70,2+1,2,yüksek giriş,4,doğalgaz,1,yok,hayır,boş,hayır,evet,emlak ofisinden,hayır
3,299000,istanbul,esenyurt,daire,110,90,2+1,4,4,4,doğalgaz,1,var,hayır,boş,hayır,evet,emlak ofisinden,evet
4,469000,istanbul,beylikdüzü,daire,125,115,2+1,2,1,5,doğalgaz,2,var,hayır,boş,hayır,evet,inşaat firmasından,evet

In [3]:
df.shape

(6207, 19)

There are values in the form of "2+1" in the room variable. This value means 2 bedrooms and 1 living room. Below, we divide the room variable into two as the number of living rooms and the number of rooms and add them to the data set as different variables.

In [4]:
living_room = []
room = []
for i in range(df.shape[0]):
    room.append(df.oda.values[i].split("+")[0])
    living_room.append(df.oda.values[i].split("+")[1])

In [5]:
df["salon"] = living_room
df["oda"] = room

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6207 entries, 0 to 6206
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fiyat            6207 non-null   int64
 1   il               6207 non-null   object
 2   ilce             6207 non-null   object
 3   emlak_tipi       6207 non-null   object
 4   m2_brut          6207 non-null   int64
 5   m2_net           6207 non-null   int64
 6   oda              6207 non-null   object
 7   bina_yasi        6207 non-null   int64
 8   bulundugu_kat    6207 non-null   object
 9   kat_sayisi       6207 non-null   int64
 10  isitma           6207 non-null   object
 11  banyo            6207 non-null   int64
 12  balkon           6207 non-null   object
 13  esyali           6207 non-null   object
 14  kullanim_durumu  6207 non-null   object
 15  site_icerisinde  6207 non-null   object
 16  krediye_uygun    6207 non-null   object
 17  kimden           6207 non-null   object
 18  takas            6207 non-null   object
 19  salon            6207 non-null   object
dtypes: int64(6), object(14)
memory usage: 970.0+ KB

In [7]:
df.oda =df.oda.astype("int64")
df.salon = df.salon.astype("int64")

In [8]:
df.head()

,fiyat,il,ilce,emlak_tipi,m2_brut,m2_net,oda,bina_yasi,bulundugu_kat,kat_sayisi,isitma,banyo,balkon,esyali,kullanim_durumu,site_icerisinde,krediye_uygun,kimden,takas,salon
0,319000,istanbul,beylikdüzü,daire,120,112,2,3,15,18,merkezi,2,yok,hayır,boş,evet,evet,emlak ofisinden,hayır,1
1,163000,istanbul,esenyurt,daire,115,100,2,7,1,4,doğalgaz,1,var,hayır,boş,hayır,evet,emlak ofisinden,evet,1
2,273000,istanbul,başakşehir,daire,80,70,2,2,yüksek giriş,4,doğalgaz,1,yok,hayır,boş,hayır,evet,emlak ofisinden,hayır,1
3,299000,istanbul,esenyurt,daire,110,90,2,4,4,4,doğalgaz,1,var,hayır,boş,hayır,evet,emlak ofisinden,evet,1
4,469000,istanbul,beylikdüzü,daire,125,115,2,2,1,5,doğalgaz,2,var,hayır,boş,hayır,evet,inşaat firmasından,evet,1

Number of bathrooms per room

In [9]:
df["banyo/oda"] = df.banyo/df.oda

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fiyat,6207.0,416242.429032,193171.570450,50400.0,275000.0,375000.0,530000.000000,1040000.0
m2_brut,6207.0,142.487997,43.147793,36.0,110.0,140.0,175.000000,270.0
m2_net,6207.0,124.653295,38.030772,22.0,95.0,125.0,150.000000,230.0
oda,6207.0,2.664572,0.787188,1.0,2.0,3.0,3.000000,6.0
bina_yasi,6207.0,6.843886,8.285372,0.0,0.0,4.0,10.000000,31.0
kat_sayisi,6207.0,6.446915,3.764803,1.0,4.0,5.0,8.000000,30.0
banyo,6207.0,1.418237,0.512533,1.0,1.0,1.0,2.000000,4.0
salon,6207.0,1.000322,0.071807,0.0,1.0,1.0,1.000000,2.0
banyo/oda,6207.0,0.557432,0.208230,0.2,0.5,0.5,0.666667,4.0

In [11]:
df.head()

,fiyat,il,ilce,emlak_tipi,m2_brut,m2_net,oda,bina_yasi,bulundugu_kat,kat_sayisi,...,banyo,balkon,esyali,kullanim_durumu,site_icerisinde,krediye_uygun,kimden,takas,salon,banyo/oda
0,319000,istanbul,beylikdüzü,daire,120,112,2,3,15,18,...,2,yok,hayır,boş,evet,evet,emlak ofisinden,hayır,1,1.0
1,163000,istanbul,esenyurt,daire,115,100,2,7,1,4,...,1,var,hayır,boş,hayır,evet,emlak ofisinden,evet,1,0.5
2,273000,istanbul,başakşehir,daire,80,70,2,2,yüksek giriş,4,...,1,yok,hayır,boş,hayır,evet,emlak ofisinden,hayır,1,0.5
3,299000,istanbul,esenyurt,daire,110,90,2,4,4,4,...,1,var,hayır,boş,hayır,evet,emlak ofisinden,evet,1,0.5
4,469000,istanbul,beylikdüzü,daire,125,115,2,2,1,5,...,2,var,hayır,boş,hayır,evet,inşaat firmasından,evet,1,1.0

In [12]:
df.corr()

,fiyat,m2_brut,m2_net,oda,bina_yasi,kat_sayisi,banyo,salon,banyo/oda
fiyat,1.000000,0.468594,0.448015,0.426968,-0.161800,0.259085,0.482566,0.045845,0.071687
m2_brut,0.468594,1.000000,0.958430,0.840768,-0.079400,0.276495,0.539407,0.093615,-0.246176
m2_net,0.448015,0.958430,1.000000,0.835261,-0.060154,0.243634,0.537922,0.101234,-0.248043
oda,0.426968,0.840768,0.835261,1.000000,-0.025151,0.172382,0.524696,0.078880,-0.409309
bina_yasi,-0.161800,-0.079400,-0.060154,-0.025151,1.000000,-0.155603,-0.237943,0.023918,-0.207820
kat_sayisi,0.259085,0.276495,0.243634,0.172382,-0.155603,1.000000,0.268794,-0.026759,0.121068
banyo,0.482566,0.539407,0.537922,0.524696,-0.237943,0.268794,1.000000,0.044499,0.489036
salon,0.045845,0.093615,0.101234,0.078880,0.023918,-0.026759,0.044499,1.000000,-0.043446
banyo/oda,0.071687,-0.246176,-0.248043,-0.409309,-0.207820,0.121068,0.489036,-0.043446,1.000000

In [13]:
df.to_csv(r"Datasets/data_analyzed.csv",encoding="utf-8",index=False,mode="w")